@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --font-color:#9c9c9c;
    --heading-color: #2c353d;
    --primar-color: #efbb20;
    --navbar-color: #2c353d;
   
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;


}

html{

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


header {
    background-color: #000000; /* Örnek açık gri */
    width: 100%;
    height: 130px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img {
    margin-left: -30px;
    width: 240px;
    border-radius: 50%;
}

nav a{
    margin-left: 1.5rem;
    padding: 1rem;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    color: rgb(0, 90, 20);
}

nav a::after{
    content: "";
    background-color: rgb(0, 90, 20);
    width: 0;
    transition: 1s;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;


}

nav a:hover::after
{
    width: 100%;

}

.myicons div{
    margin-left: 1rem;
    font-size: 2rem;
    color: whitesmoke;
}

.myicons div:hover{
    color: rgb(0, 90, 20);
    cursor: pointer;
}

#menu-bar
{
    display: none;
    
}

.search-form{
    width:50%;
    position: absolute;
    top: -100%;
    right: 5rem;
    padding: 0.5rem;

}
.search-form input {

    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    outline: rgb(0, 90, 20);
    border: 1px solid var(--font-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px ;
    transition: all 0.5s ease-in-out;
}

.search-form.active{
    top: 100%;
    transition: 0.5s;

}
.navbar.active
{
    right: 0;
    transition: 0.5s;
}


.why-us{
    
    background-color: white;
    width: 100%;
    padding: 4rem 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.main-inner:hover{
    transform: translateY(-5px);
}
.why-us-heading{
    text-align: center;

}

.why-us-heading h1{
    font-size: 35px;
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-inner-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.main-inner{
    
    transition: transform 0.3s ease-in-out; 
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px); /* Kartların genişliğini ayarlamak için */
    box-sizing: border-box; /* İç boşluk ve kenar boşluklarını kutu boyutuna dahil etmek için */
    min-width: 250px; /* Kartların minimum genişliğini belirlemek için */
   
}


.icon-text-main{
    display: flex;
    align-items: center;
    gap: 1rem;   
    
}

.inner-content{
    padding: 0 0.5rem;
    margin-top: 8px;

}

.inner-icon i{
    color:black;
    font-size: 22px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 100%;
}
.inner-content-text h2{
    color:black;
    font-size: 22px;
    padding: 1rem 0;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inner-content-text p{
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif ;
}



.footer {
    padding: 1rem 7%;
    width: 100%;
    background-color: #000000;
    border: 2px solid black;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-inner-content {
    flex: 1 1 calc(33.33% - 1rem); /* Öğelerin genişliğini eşit olarak paylaştırmak */
    max-width: calc(33.33% - 1rem); /* Öğelerin maksimum genişliğini ayarlamak */
    padding: 1rem;
    color: whitesmoke; /* Yazı rengini beyaz yapmak */
}

.footer-inner-content h2 {
    font-size: 20px;
    padding: 1.5rem 0;
    font-weight: bold;
}

.footer-inner-content p {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-inner-content a {
    font-size: 1.5rem;
    
}

.Kurucu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kurucu-card {
    max-width: 500px;
    height: auto;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px); 
    box-sizing: border-box; 
    min-width: 250px; 
   
} 

 .kurucu-card:hover {
    transform: translateY(-5px);
}

.kurucu-card img {
    width: 100%;
    height: auto;
}

.content-kur {
    padding: 24px;
}

.content-kur h2 {
    color: black;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-kur h3{
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.content-kur p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.instagram-btn {
    display: inline-flex; /* Düğmeyi iç içe geçmiş hale getir */
    align-items: center; /* İçerikleri dikeyde hizala */
    justify-content: center; /* İçerikleri yatayda hizala */
    padding: 8px; /* Düğme dolgusu */
    background-color: whitesmoke; /* Instagram rengi */
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.instagram-btn img {
    padding: 0;
    width: 30px; /* İkonun genişliği */
    height: 30px; /* İkonun yüksekliği */
    margin-right: 8px; /* İkon ile metin arasında boşluk bırak */
    transition: transform 0.3s ease;
    border-radius: 14px;
   
    
}

.instagram-btn:hover img {
    transform: scale(1.1); /* Hover etkisi */
}


.iletisim-container{
    background-color: whitesmoke;
    padding-bottom: 20px;
}
.map {
    display: flex;
    flex-direction: column; /* İçerikleri dikey yönde sırala */
    align-items: center; /* İçerikleri yatayda merkezle */
    margin-bottom: 30px;
    width: 100%;
}



.contact-info{
    width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Kartların genişliğini ayarlamak için */
    box-sizing: border-box; /* İç boşluk ve kenar boşluklarını kutu boyutuna dahil etmek için */
    min-width: 250px; /* Kartların minimum genişliğini belirlemek için */  
    float: right;
    margin-right: 10%;
    
}
.contact-form {   
    width: 500px;   
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Kartların genişliğini ayarlamak için */
    box-sizing: border-box; /* İç boşluk ve kenar boşluklarını kutu boyutuna dahil etmek için */
    min-width: 250px; /* Kartların minimum genişliğini belirlemek için */
    
    
}



.contact-info h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-info p {
    margin: 0;
    color: black;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-info ul {
    padding-left: 18px;
    display: flex; /* Liste öğelerini yan yana sırala */
    
    
}

.contact-info ul li {
    margin-right: 5px; /* Öğeler arasında boşluk bırak */
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 5px;
}

.contact-info a {
    color: #007bff;
}

.contact-form {
    background-color: white;
    margin-left: 10%;

}

.contact-form h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: calc(100% - 16px); /* 16px padding hesaplanarak genişlik ayarlanır */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}
.contact-form textarea{
    height: 60px;
}

.instagram2-btn img {
    padding: 0;
    width: 30px; /* İkonun genişliği */
    height: 30px; /* İkonun yüksekliği */
    margin-right: 8px; /* İkon ile metin arasında boşluk bırak */
    transition: transform 0.3s ease;
    border-radius: 14px;
   
    
}

.facebook-btn img {
    padding: 0;
    width: 30px; /* İkonun genişliği */
    height: 30px; /* İkonun yüksekliği */
    margin-right: 8px; /* İkon ile metin arasında boşluk bırak */
    transition: transform 0.3s ease;
    border-radius: 14px;
   
    
}

.twitter-btn img {
    padding: 0;
    width: 30px; /* İkonun genişliği */
    height: 30px; /* İkonun yüksekliği */
    margin-right: 8px; /* İkon ile metin arasında boşluk bırak */
    transition: transform 0.3s ease;
    border-radius: 14px;
   
    
}
.instagram2-btn:hover img {
    transform: scale(1.1); /* Hover etkisi */
}

.twitter-btn:hover img {
    transform: scale(1.1); /* Hover etkisi */
}

.facebook-btn:hover img {
    transform: scale(1.1); /* Hover etkisi */
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-section {
    flex: 1;
    margin-top: 30px;
    margin-right: 10px;
}

.text-section h1 {
    font-size: 2.5em;
    margin: 0;
   
    
}


.text-section img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow:0px 8px 10px #000000;
    float: right;
}
.text-container{
    margin-top: 20px;
    font-size: 1.8em;
    padding-top: 10vh;
}

.main-hak2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.images img {
    margin-top: 35px;
    margin-left: 20px;
    width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 2px 4px 8px #000000;
}

.text-hak2 {
    flex: 1;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
   
}


.text-hak2 h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #004d40;
    text-align: left;
    position: relative;
    
}

.text-hak2 h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #004d40;
    position: absolute;
    top: -20px;
    left: 0;
}

.text-hak2 p{
    font-size: 1.9em;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.main-hak1 {
    position: relative;
    text-align: center;
    color: white;
}

.main-hak1 img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay h1, h2 {
    margin: 0;
    padding: 0;
}

.overlay h1 {
    font-size: 7em;
}

.overlay h2 {
    font-size: 6em;
}

.overlay p {
    margin-top: 20px;
    font-size: 2em;
    max-width: 500%;
    margin-left: auto;
    margin-right: auto;
}

.container-kurucu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 0;
}

.table-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-contentkur {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #f8f8f8;
}

.text-contentkur h1 {
    margin: 0;
    font-size: 2em;
}

.text-contentkur p {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

.safety {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.table-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ski-image {
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-creative{
    padding: 6rem 7%;
    background-color: #efbb20;
}

.main-creative h1{
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1rem;
}

.main-inner-creative{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2rem;
    
}

.inner-creative{
    flex: 1 1 400px;
    
}

.inner-creative img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.inner-creative img:hover{
    border-radius: 25px;
    transform: scale(1.2) rotate(-15deg);
}



























@media (max-width:1200px) {
    html{
        font-size: 55%;
    }

    #menu-bar{
        display: initial;
    }
    header {
        position: fixed;
        padding: 1rem;
        left: 0;
        right: 0;
        padding: 1.5rem 7%; /* Bu kısmı değiştirelim */
        height: auto; /* Sabit yükseklik yerine otomatik yükseklik */
        
    }
    header .logo img {
        margin-left: -10px;
        width: 130px;
    }
  
    nav{
        position: absolute;
        top: 100%;
        background-color: #515354;
        width: 30rem;
        right: -3000px;
        height: 100vh;
    }
    nav a{
        display: block;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        color: #515354;
        border: 3px solid  rgb(0, 90, 20);
    }
    .main-inner {
        
        padding: 2rem 1rem;
        border: 4px ;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease-in-out;
        border-radius: 25px;
        width: 300px;
        height: 300px;
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 40px;
        padding: 5rem;
        border: 4px ;
       

        
    }
    .inner-content-text p{
        color:  rgb(0, 90, 20);
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .search-form{
        width: 100%;
        right: 0;
        border: 2px solid  rgb(0, 90, 20);

    }
   
   
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Kartları yatayda ortalamak için */
        padding: 20px;
        padding-top: 140px; /* Başlık veya üst boşluk için */
        max-width: 1200px; /* İsteğe bağlı olarak maksimum genişlik belirleyebilirsiniz */
        margin: 0 auto;
       
    }


    .contact-form,
    .contact-info{
        margin: 0;
        float: none;
        width: 80%;
        margin-left: 10%;
        
    }
    .contact-form {
        background-color: #f0f0f0;
        
    }
    
    .contact-info {
        background-color: #f9f9f9;
        margin-bottom: 20px; 
    }

    .close-btn{
        position: absolute;
        top: 50px;
        right: 10px;
        color: #000000;
        font-size: 24px;
        cursor: pointer;
        z-index: 10000;
        visibility: hidden;
    
    }
    
    .inner-featred.fullscreen .feature-image img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: contain;
        z-index: 9999;
    }
    

    .inner-featred.fullscreen .feature-image .close-btn {
        position: fixed;
        top: 300px;
        right: 10px;
        color: #ff0000;
        font-size: 24px;
        cursor: pointer;
        z-index: 10000;
        visibility: visible;
        
    }
    
    .main-container {
        flex-direction: column;
    }

    .text-section {
        order: 1;
    }

    .text-section img{
        order: 2;
    }


    .text-section img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-left: px;
        
    }
    .text-container{
        display: block;
        margin-left: 10px;
    }
    .text-container h1{
        font-size: 30px;
        
    }

    .main-hak1  {
        margin-top: 115px;
    }
    .overlay h1 {
        font-size: 14px;
    }
    .overlay h2 {
        font-size: 11px;
    }
    .overlay p {
        font-size: 8px;
    }

    .main-hak2 {
        flex-direction: column;
        height: auto; /* Allow the container to adjust its height automatically */
    }

    .image img {
        width: 90%;
        height: auto;
    }

    .text-hak2 {
        padding: 20px; /* Adjust padding for smaller screens */
        margin-top: 20px;
    }

    .text-hak2 h1 {
        font-size: 2.5em; /* Adjust font size for smaller screens */
    }

    .text-hak2 p {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .kurucu-card {
        width: 90%; /* Örnek genişlik ayarı */
        margin-top: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
        flex: 1 1 calc(33.333% - 40px); /* Kartların genişliğini ayarlamak için */
        box-sizing: border-box; /* İç boşluk ve kenar boşluklarını kutu boyutuna dahil etmek için */
        min-width: 250px; /* Kartların minimum genişliğini belirlemek için */
      
        
        
    }

    .Kurucu {
        display: flex;        
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        grid-template-columns: 1fr 1fr;
        margin-left: 3%;
        margin-right: 3%;
    }
    
}


@media (max-width:800px) {
    html{
        font-size: 55%;
    }

    #menu-bar{
        display: initial;
    }
    header {
        position: fixed;
        padding: 1rem;
        left: 0;
        right: 0;
        padding: 1.5rem 7%; /* Bu kısmı değiştirelim */
        height: auto; /* Sabit yükseklik yerine otomatik yükseklik */
        
    }
    header .logo img {
        margin-left: -10px;
        width: 130px;
    }
    .home {
        padding-top: 117px; /* Önerilen değerlerle değiştirebilirsiniz */
        position: relative;
        height: auto; /* Sabit yükseklik yerine otomatik yükseklik */
    }
    .slider {
        width: 70%; /* Mobil cihazlar için genişliği ayarla */
        border: 1px solid #000000; /* Sınır kalınlığını azalt */
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Gölgeyi azalt */
        border-radius: 15px; /* Köşe yuvarlamasını azalt */
    }
   
    nav{
        position: absolute;
        top: 100%;
        background-color: #515354;
        width: 30rem;
        right: -3000px;
        height: 100vh;
    }
    nav a{
        display: block;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        color: #515354;
        border: 3px solid  rgb(0, 90, 20);
    }
    .main-inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 40px;
        padding: 5rem;
        border: 4px ;
        height: 50%;
    }
    .inner-content-text p{
        color:  black;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .search-form{
        width: 100%;
        right: 0;
        border: 2px solid  rgb(0, 90, 20);

    }



    .contact-form,
    .contact-info{
        margin: 0;
        float: none;
        width: 80%;
        margin-left: 10%;
        
    }
    .contact-form {
        background-color: #f0f0f0;
        
    }
    
    .contact-info {
        background-color: #f9f9f9;
        margin-bottom: 20px; 
    }

    .close-btn{
        position: absolute;
        top: 50px;
        right: 10px;
        color: #000000;
        font-size: 24px;
        cursor: pointer;
        z-index: 10000;
        visibility: hidden;
    
    }
    
    .inner-featred.fullscreen .feature-image img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: contain;
        z-index: 9999;
    }
    

    .inner-featred.fullscreen .feature-image .close-btn {
        position: fixed;
        top: 300px;
        right: 10px;
        color: #ff0000;
        font-size: 24px;
        cursor: pointer;
        z-index: 10000;
        visibility: visible;
        
    }
    
    .main-container {
        flex-direction: column;
    }

    .text-section {
        order: 1;
        padding-top: 80px;
    }

    .text-section img{
        order: 2;
    }


    .text-section img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-left: 5px;
        
    }
    .text-container{
        display: block;
        margin-left: 10px;
    }
    .text-container h1{
        font-size: 30px;
        
    }
    
    .main-hak1  {
        margin-top: 115px;
       
    }
    .overlay h1 {
        font-size: 14px;
    }
    .overlay h2 {
        font-size: 11px;
       
    }
    .overlay p {
        
        font-size: 8px;
        max-width: 100%; 
    }

    .main-hak2 {
        flex-direction: column;
        height: auto; 
    }

    .main-hak2 img {
        width: 80%;
        height: auto;
            
    }

    .text-hak2 {
        padding: 20px; 
        margin-top: 20px;
    }

    .text-hak2 h1 {
        font-size: 2.5em; 
    }

    .text-hak2 p {
        font-size: 1.5em; 
    }

    .kurucu-card {
        width: 90%; /* Örnek genişlik ayarı */
        margin-top: 10px;
        
    }

    .Kurucu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
   

    .main-creative{
        padding: 4rem 5%;        
        margin-top: 115px;
    }

    .main-creative h1{
        font-size: 28px;
        padding-bottom: 0.5rem;
    }

    .main-inner-creative{
        flex-direction: column;
        gap: 10px;
        padding-top: 5rem;
    }

    .inner-creative{
        flex: 1 1 auto;
    }

    .inner-creative img{
        width: 100%;
        box-shadow: 0px 4px 8px #000000;
        
    }

    .inner-creative img:hover{
        border-radius: 25px;
        transform: scale(1) rotate(-10deg);
        
    }

}
  

  

    
